{
	"flavors": {
		"pico": {
			"mem": "64Mi",
			"cpu": "125m"
		},
		"nano": {
			"mem": "128Mi",
			"cpu": "250m"
		},
		"micro": {
			"mem": "256Mi",
			"cpu": "500m"
		},
		"tiny": {
			"mem": "512Mi",
			"cpu": "750m"
		},
		"small": {
			"mem": "1024Mi",
			"cpu": "1"
		},
		"medium": {
			"mem": "2048Mi",
			"cpu": "2"
		},
		"large": {
			"mem": "4096Mi",
			"cpu": "4"
		},
		"xlarge": {
			"mem": "8192Mi",
			"cpu": "8"
		},
		"2xlarge": {
			"mem": "16384Mi",
			"cpu": "16"
		}
	}
}
