{
	"flavors": {
		"pico": {
			"memory": "64Mi",
			"cpu": "100m"
		},
		"nano": {
			"memory": "128Mi",
			"cpu": "125m"
		},
		"micro": {
			"memory": "256Mi",
			"cpu": "150m"
		},
		"tiny": {
			"memory": "512Mi",
			"cpu": "200m"
		},
		"small": {
			"memory": "1024Mi",
			"cpu": "250m"
		},
		"medium": {
			"memory": "2048Mi",
			"cpu": "500m"
		},
		"large": {
			"memory": "4096Mi",
			"cpu": "1"
		},
		"xlarge": {
			"memory": "8192Mi",
			"cpu": "2"
		},
		"2xlarge": {
			"memory": "16384Mi",
			"cpu": "4"
		}
	}
}
